version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres-keycloak
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    container_name: keycloak
    command:
      - start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HTTP_PORT: 8080
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    depends_on:
      - postgres
    ports:
      - "8081:8080"
    networks:
      - app-net

  purchasesapi:
    build:
      context: .
      dockerfile: PurchasesApi/Dockerfile
    container_name: purchasesapi
    ports:
      - "5002:8080"
    depends_on:
      - keycloak
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"       
      Logging__LogLevel__Default: "Information"
      Logging__LogLevel__Microsoft: "Information"
      Logging__LogLevel__Microsoft.AspNetCore.Authentication: "Debug"
      Logging__LogLevel__Microsoft.IdentityModel: "Debug"
    networks:
      - app-net

  productsapi:
    build:
      context: .
      dockerfile: ProductsApi/Dockerfile
    container_name: productsapi
    ports:
      - "5003:8080"
    depends_on:
      - keycloak
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"      
    networks:
      - app-net

networks:
  app-net:

volumes:
  postgres_data:
